
@{
    ViewData["Title"] = "Home";
}

<div class="starter-template">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-center">
        <h1 class="display-3">Welcome to home page</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a asp-action="Dashboard" asp-controller="Home" asp-area="Admin" class="btn btn-primary btn-lg">Admin view</a>
    </header>
</div>