@model Web.App.Models.Account.ChangePasswordModel

@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_MembershipLayout.cshtml";
}

<h1>Change Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.IsSuccess)
        {
            <div class="alert alert-success" role="alert">
               Password updated successfully.<br />
            </div>
        }
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8 d-none d-lg-block">
        <img src="~/Images/change-password.svg" alt="login" class="img-fluid membership-img ml-5" />
    </div>
</div>